
/* common shared style */
body{
    font-family: 'Lato',
    sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 0.3125rem;
    background: #FD6E0A;
    border: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: aliceblue;
    padding: 15px 35px;
}
.section-title{
    color: var(--Dark-01, #181818);
    font-size: 2.1875rem;
    font-weight: 700;
    

}

.section-description{
    color: var(--Dark-03, #757575);
   font-size: 22px;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}

/* header styling */
 .header{
    background: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* nav style started here */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    
  color: var(--Dark-01, #181818);
  
 font-size: 2.8125rem;
 font-style: normal;
 font-weight: 800;
 line-height: normal;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
   margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* banner section */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
    
}
.banner .profile-pic{
  width: 500px;
}
.banner-gretting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-content .banner-p{
    color: #757575;
font-family: Open Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}

/* main section styling */
main{
    
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
  
}
.about{
    
    padding: 130px;
    border-radius: 0.625rem;
background: #FFF8F3;
text-align: center;
margin: 130px 0;

}
.about .section-title{}
.about .section-description{}

/* section what i do start */
section{
    text-align: center;
    padding: 130px;
    border-radius: 0.625rem;
    margin: 130px 0;
    

}
section .skill-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    border-radius: 0.3125rem;
   background: #fff;
    /* margin-right: 24px; */
    margin-top: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skill-description{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem; /* 175% */
}
.skill img{
margin-top: 20px;
}

/* resume section start */
.sheading{
    color: var(--Dark-01, #181818);
text-align: center;

font-size: 2.1875rem;

font-weight: 700;

}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume-column{
   
}
.resume-column-title{
    color: var(--Dark-02, #474747);

font-size: 1.875rem;

font-weight: 700;

}

.resume-item{
    /* margin-right: 20px; */
}
.resume-item .resume-item-title{
    color: var(--Dark-02, #474747);

font-size: 1.5625rem;

font-weight: 700;


}
.resume-item-institude{
    color: var(--Dark-03, #757575);
    
    font-size: 1.25rem;
    
    font-weight: 600;
   
}
.resume-item .resume-item-description{
    color: var(--Dark-03, #757575);
   
    font-size: 1rem;
   
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
}
hr{
    background: #D1D1D1;
    margin-right: 10px;
}